			input.error,select.error,textarea.error {
				border: 1px solid red;
				/*font: normal 14px "microsoft yahei";*/
			}
			/*调整提示信息样式*/
			label.error {
				position: absolute;
				left: 0px;
				top: 25px;
				background: #076fbb;
				padding: 5px 10px 5px 0px;
				font-size: 12px;
				color: white;
				z-index: 999;
				border-radius: 5px;
			}

			label:before{
			    content: '';
			    border-bottom: 8px solid #076fbb;
			    border-top: 5px solid transparent;
			    border-left: 5px solid transparent;
			    border-right: 5px solid transparent;
			    position: relative;
			    top: -27px;
			    left: 10px;
			    z-index: 9999;
			}
			
			/*.true{*/
				/*width: 20px;*/
				/*height: 16px;*/
				/*display: inline-block; */
				/*background: url(../imgages/Ture.png) no-repeat center center;*/
				/*position: relative;*/
				/*top: 3px;*/
			/*}*/
			/*.false{*/
				/*width: 20px;*/
				/*height: 16px;*/
				/*display: inline-block; */
				/*background: url(../imgages/False.png) no-repeat center center;*/
				/*position: relative;*/
				/*top: 3px;*/
			/*}*/
			/*添加提示框上方的尖角*/
	/*		label.error:before {
				content: "";
				width: 10px;
				height: 10px;
				border-bottom: 8px solid #076fbb;
				border-top: 5px solid transparent;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				position: relative;
				top: -20px;
				left: 0px;
			}

*/		.validate_container{
				  position:relative;
			  }