<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.dao.NoteMapper">
    <resultMap id="NoteMap" type="com.neuedu.entity.NoteVo">
        <id column="user_id" property="userId"/>
        <id column="note_id" property="noteId"/>
        <result column="note_status" property="noteStatus"/>
        <result column="note_type" property="noteType"/>
        <result column="note_name" property="noteName"/>
        <result column="note_parent" property="noteParent"/>
        <result column="note_create_time" property="noteCreateTime"/>
        <result column="note_modify_time" property="noteModifyTime"/>
        <result column="note_root" property="noteRoot"></result>
        <result column="note_content" property="noteContent"/>
    </resultMap>
    <select id="getRootKids" resultMap="NoteMap">
        SELECT * FROM tb_note n WHERE n.user_id = #{userId}
        AND n.note_id LIKE '001___000000000000' AND  n.note_id != '001000000000000000'
        ORDER BY n.note_modify_time DESC
    </select>

    <select id="getRootNoteId" resultType="java.lang.String">
        SELECT n.note_id FROM tb_note n WHERE n.user_id = #{userid} AND n.note_root = '1'
    </select>
    <!--新建文件、文件夹-->
    <insert id="createNote" parameterType="com.neuedu.entity.NoteVo">
        INSERT INTO tb_note (user_id,note_id,note_name,note_status,note_type,note_create_time,note_modify_time,note_root,note_content)
        VALUES (#{userId},#{noteId},#{noteName},#{noteStatus},#{noteType},
        #{noteCreateTime},#{noteModifyTime},#{noteRoot},#{noteContent})
    </insert>

    <!--最近打开的文档们-->
    <select id="getNotes" resultMap="NoteMap">
        SELECT * FROM tb_note n WHERE n.user_id = #{userid} AND n.note_type = '1'
        AND n.note_status = '1' ORDER BY n.note_modify_time DESC limit 0,10
    </select>

    <!--查找文档-->
    <select id="getNote" resultMap="NoteMap">
        SELECT * FROM tb_note n WHERE n.user_id = #{userid} AND n.note_status = '1' AND n.note_id = #{noteid}
    </select>

    <!--最近修改的一篇文档-->
    <select id="getContent" resultMap="NoteMap">
        SELECT * FROM tb_note n WHERE n.user_id = #{userid} AND n.note_type = '1'
        AND n.note_status = '1' AND n.note_modify_time = (SELECT MAX(t.note_modify_time+0) FROM tb_note t)
    </select>

    <!--加载下一层-->
    <select id="getTree" resultMap="NoteMap">
        SELECT * FROM tb_note n WHERE n.user_id = #{userid} AND n.note_id LIKE #{noteparent}
        AND n.note_id != #{noteid}
        AND n.note_status = '1' AND n.note_root = '0' ORDER BY n.note_modify_time DESC
    </select>

    <!--文档置为无效-->
    <update id="invalid">
        UPDATE tb_note n SET n.note_status = '0' AND  n.note_modify_time = #{now}
        WHERE n.user_id = #{userid} AND n.note_id = #{noteid}
    </update>

    <!--回收站-->
    <select id="recycleBin" resultMap="NoteMap">
        SELECT * FROM tb_note n WHERE n.note_status = '0' AND n.user_id = #{user_id}
        ORDER BY n.note_modify_time DESC
    </select>

    <!--查询父节点下文件编号的最大值-->
    <select id="getMaxNoteId" resultType="java.lang.String">
        SELECT MAX(n.note_id) FROM tb_note n WHERE n.user_id = #{userid} AND n.note_id LIKE #{noteparent}
    </select>

    <!--保存文档-->
    <update id="saveContent">
        UPDATE tb_note n SET n.note_content = #{notecontent}
        WHERE n.user_id = #{userid} AND n.note_id = #{noteid}
    </update>
    
    <select id="getExist" resultMap="NoteMap">
        SELECT * FROM tb_note n WHERE n.user_id = #{userid}
        AND n.note_type = #{notetype} AND n.note_id like #{noteid} AND n.note_name = #{notename}
    </select>
</mapper>