<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.dao.NoteMapper">
    <resultMap id="NoteMap" type="com.neuedu.entity.NoteVo">
        <id column="user_id" property="userId"/>
        <id column="note_id" property="noteId"/>
        <result column="note_status" property="noteStatus"/>
        <result column="note_type" property="noteType"/>
        <result column="note_path" property="notePath"/>
        <result column="note_name" property="noteName"/>
        <result column="note_parent" property="noteParent"/>
        <result column="note_create_time" property="noteCreateTime"/>
        <result column="note_modify_time" property="noteModifyTime"/>
        <result column="note_root" property="noteRoot"></result>
    </resultMap>
    <select id="getRootKids" resultMap="NoteMap">
        SELECT * FROM tb_note n where n.user_id=#{userid} AND n.note_root = '1'
    </select>

    <!--新建文件、文件夹-->
    <insert id="createNote" parameterType="com.neuedu.entity.NoteVo">
        INSERT INTO tb_note VALUES
        (#{userId},#{noteId},#{noteName},#{noteStatus},#{noteType},#{noteParent},
        #{notePath},#{noteCreateTime},#{noteModifyTime},#{noteRoot})
    </insert>

    <!--获取父节点路径信息-->
    <select id="getParentPath" resultType="java.lang.String">
        SELECT n.note_path FROM tb_note n WHERE n.note_id = #{parentid}
    </select>

    <!--最近打开的文档们-->
    <select id="getNotes" resultMap="NoteMap">
        SELECT * FROM tb_note n WHERE n.user_id = #{userid} AND n.note_type = '1'
        AND n.note_status = '1' ORDER BY n.note_modify_time , n.note_create_time
    </select>

    <!--最近修改的一篇文档-->
    <select id="getContent" resultMap="NoteMap">
        SELECT * FROM tb_note n WHERE n.user_id = #{userid} AND n.note_type = '1'
        AND n.note_status = '1' AND n.note_modify_time = (SELECT MAX(t.note_modify_time+0) FROM tb_note t)
    </select>

    <!--加载下一层-->
    <select id="getTree" resultMap="NoteMap">
        SELECT * FROM tb_note n WHERE n.user_id = #{userid} AND n.note_parent = #{noteparent}
        AND n.note_status = '1' AND n.note_root = '0'
    </select>

</mapper>